* {
    box-sizing: border-box;
}
header {
    text-align: center;
    background-color: aqua;
}
main {
    float: left;
    font-family: "Comic Sans MS";
    background-color: aquamarine;
    color: blueviolet;
}
main section {
    float: left;
}
article {
    float: right;
    background-color: azure;
    color: black;
}
footer {
    clear: both;
    background-color: burlywood;
    color: black;
}