* {
    box-sizing: border-box;
}
header {
    text-align: center;
    background-color: aqua;
}
main {
    float: left;
    font-family: "Comic Sans MS";
}
section {
    float: left;
}
article {
    float: right;
}
footer {
    clear: both;
}